In [76]:
# imports
import numpy as np
import plotly.express as px
import pandas as pd
df = pd.read_csv('mammographic_masses_data.csv')

In [82]:
# 1.1 Showing the first 5 rows of the dataset
df.head()

    BA   Age  Shape  Margin  Density  Severity
0  5.0  67.0    3.0     5.0      3.0         1
1  4.0  43.0    1.0     1.0      NaN         1
2  5.0  58.0    4.0     5.0      3.0         1
3  4.0  28.0    1.0     1.0      3.0         0
4  5.0  74.0    1.0     5.0      NaN         1

In [90]:
# 2.2 Show the points in the dataset where the Severity is 1
loc_df = df.loc[df['Severity'] == 1] #can choose to only show specific characteristics with severity == 1
print(loc_df)

      BA   Age  Shape  Margin  Density  Severity
0    5.0  67.0    3.0     5.0      3.0         1
1    4.0  43.0    1.0     1.0      NaN         1
2    5.0  58.0    4.0     5.0      3.0         1
4    5.0  74.0    1.0     5.0      NaN         1
8    5.0  57.0    1.0     5.0      3.0         1
..   ...   ...    ...     ...      ...       ...
951  5.0  67.0    4.0     5.0      3.0         1
952  4.0  68.0    4.0     4.0      3.0         1
955  4.0  52.0    4.0     4.0      3.0         1
957  4.0  56.0    4.0     5.0      3.0         1
959  5.0  66.0    4.0     5.0      3.0         1

[445 rows x 6 columns]