In [ ]:
import numpy as np
import plotly.express as px
import pandas as pd
from plotly.subplots import make_subplots
df = pd.read_csv('online_shoppers_intention.csv', na_values=['NA', 'null', '', 'NULL'])

In [41]:
# 1.1 Getting our first look at the Dataset using the describe function on our dataset
df_cpy = df.copy()

df.describe()

       Administrative  Administrative_Duration  Informational  \
5679                0                 0.000000              4
8003                3                77.333333              2
8006                5               446.250000              0
8115                0                 0.000000              0
8187                0                 0.000000              0
...               ...                      ...            ...
12156               0                 0.000000              0
12180               0                 0.000000              0
12185               0                 0.000000              0
12243               3                18.000000              0
12303               0                 0.000000              0

       Informational_Duration  ProductRelated  ProductRelated_Duration  \
5679               225.766667             222              9630.209524
8003                 7.000000              24              1051.291667
8006                 0.000000              18               815.250000
8115                 0.000000               7                87.000000
8187                 0.000000               4               129.500000
...                       ...             ...                      ...
12156                0.000000               1                 0.000000
12180                0.000000               1                 0.000000
12185                0.000000               1                 0.000000
12243                0.000000               2                 8.000000
12303                0.000000               3               172.000000

       BounceRates  ExitRates  PageValues  SpecialDay Month  OperatingSystems  \
5679      0.053355   0.066159         0.0         0.0  June                 8
8003      0.000000   0.014815         0.0         0.0   Dec                 2
8006      0.000000   0.002500         0.0         0.0   Dec                 8
8115      0.000000   0.028571         0.0         0.0   Dec                 8
8187      0.000000   0.050000         0.0         0.0   Dec                 8
...            ...        ...         ...         ...   ...               ...
12156     0.000000   0.100000         0.0         0.0   Dec                 8
12180     0.200000   0.200000         0.0         0.0   Dec                 1
12185     0.200000   0.200000         0.0         0.0   Dec                 8
12243     0.000000   0.050000         0.0         0.0   Dec                 8
12303     0.000000   0.066667         0.0         0.0   Dec                 2

       Browser  Region  TrafficType        VisitorType  Weekend  Revenue
5679        13       9            5              Other    False    False
8003        13       9           20  Returning_Visitor    False    False
8006        13       9           20              Other    False    False
8115        13       9           20              Other    False    False
8187        13       9           20              Other    False    False
...        ...     ...          ...                ...      ...      ...
12156       13       9           20              Other    False    False
12180       13       9           20  Returning_Visitor    False    False
12185       13       9           20              Other    False    False
12243       13       9           20              Other    False    False
12303       13       9           20  Returning_Visitor    False    False

[61 rows x 18 columns]
       Administrative  Administrative_Duration  Informational  \
0                   0                      0.0              0
1                   0                      0.0              0
2                   0                      0.0              0
3                   0                      0.0              0
4                   0                      0.0              0
...               ...                      ...            ...
12325               3                    145.0              0
12326               0                      0.0              0
12327               0                      0.0              0
12328               4                     75.0              0
12329               0                      0.0              0

       Informational_Duration  ProductRelated  ProductRelated_Duration  \
0                         0.0               1                 0.000000
1                         0.0               2                64.000000
2                         0.0               1                 0.000000
3                         0.0               2                 2.666667
4                         0.0              10               627.500000
...                       ...             ...                      ...
12325                     0.0              53              1783.791667
12326                     0.0               5               465.750000
12327                     0.0               6               184.250000
12328                     0.0              15               346.000000
12329                     0.0               3                21.250000

       BounceRates  ExitRates  PageValues  SpecialDay Month  OperatingSystems  \
0         0.200000   0.200000    0.000000         0.0   Feb                 1
1         0.000000   0.100000    0.000000         0.0   Feb                 2
2         0.200000   0.200000    0.000000         0.0   Feb                 4
3         0.050000   0.140000    0.000000         0.0   Feb                 3
4         0.020000   0.050000    0.000000         0.0   Feb                 3
...            ...        ...         ...         ...   ...               ...
12325     0.007143   0.029031   12.241717         0.0   Dec                 4
12326     0.000000   0.021333    0.000000         0.0   Nov                 3
12327     0.083333   0.086667    0.000000         0.0   Nov                 3
12328     0.000000   0.021053    0.000000         0.0   Nov                 2
12329     0.000000   0.066667    0.000000         0.0   Nov                 3

       Browser  Region  TrafficType        VisitorType  Weekend  Revenue
0            1       1            1  Returning_Visitor    False    False
1            2       1            2  Returning_Visitor    False    False
2            1       9            3  Returning_Visitor    False    False
3            2       2            4  Returning_Visitor    False    False
4            3       1            4  Returning_Visitor     True    False
...        ...     ...          ...                ...      ...      ...
12325        6       1            1  Returning_Visitor     True    False
12326        2       1            8  Returning_Visitor     True    False
12327        2       1           13  Returning_Visitor     True    False
12328        2       3           11  Returning_Visitor    False    False
12329        2       1            2        New_Visitor     True    False

[12269 rows x 18 columns]

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType
count,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.0,61.000000,61.0,61.0,61.000000
mean,1.754098,73.716530,0.229508,4.717486,14.885246,699.388395,0.034373,0.052842,26.268249,0.0,7.196721,13.0,9.0,19.754098
std,2.742601,222.460019,0.804020,29.131613,29.325244,1401.285150,0.074365,0.068493,61.644757,0.0,2.096184,0.0,0.0,1.920553
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.001250,0.000000,0.0,1.000000,13.0,9.0,5.000000
25%,0.000000,0.000000,0.000000,0.000000,2.000000,67.666667,0.000000,0.008696,0.000000,0.0,8.000000,13.0,9.0,20.000000
50%,0.000000,0.000000,0.000000,0.000000,7.000000,302.000000,0.000000,0.025000,0.000000,0.0,8.000000,13.0,9.0,20.000000
75%,3.000000,77.333333,0.000000,0.000000,18.000000,784.883333,0.000000,0.050000,8.671344,0.0,8.000000,13.0,9.0,20.000000
max,14.000000,1652.000000,4.000000,225.766667,222.000000,9630.209524,0.200000,0.200000,360.953384,0.0,8.000000,13.0,9.0,20.000000

In [44]:
# Comparing characteristics of the dataset for the two different types of users
loc_df_browsers_13 = df.loc[df['Browser'] == 13]
loc_df_browsers_not_13 = df.loc[df['Browser'] != 13]

display(loc_df_browsers_13.describe())
display(loc_df_browsers_not_13.describe())

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType
count,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.0,61.000000,61.0,61.0,61.000000
mean,1.754098,73.716530,0.229508,4.717486,14.885246,699.388395,0.034373,0.052842,26.268249,0.0,7.196721,13.0,9.0,19.754098
std,2.742601,222.460019,0.804020,29.131613,29.325244,1401.285150,0.074365,0.068493,61.644757,0.0,2.096184,0.0,0.0,1.920553
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.001250,0.000000,0.0,1.000000,13.0,9.0,5.000000
25%,0.000000,0.000000,0.000000,0.000000,2.000000,67.666667,0.000000,0.008696,0.000000,0.0,8.000000,13.0,9.0,20.000000
50%,0.000000,0.000000,0.000000,0.000000,7.000000,302.000000,0.000000,0.025000,0.000000,0.0,8.000000,13.0,9.0,20.000000
75%,3.000000,77.333333,0.000000,0.000000,18.000000,784.883333,0.000000,0.050000,8.671344,0.0,8.000000,13.0,9.0,20.000000
max,14.000000,1652.000000,4.000000,225.766667,222.000000,9630.209524,0.200000,0.200000,360.953384,0.0,8.000000,13.0,9.0,20.000000

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType
count,12269.000000,12269.000000,12269.000000,12269.000000,12269.000000,12269.000000,12269.000000,12269.000000,12269.000000,12269.000000,12269.000000,12269.000000,12269.000000,12269.000000
mean,2.317956,80.853921,0.504931,34.620336,31.815225,1197.209080,0.022131,0.043024,5.787936,0.061733,2.098786,2.304181,3.118266,3.991605
std,3.324267,176.533147,1.271921,141.068395,44.522824,1915.596413,0.048322,0.048476,18.051056,0.199364,0.827386,1.548446,2.371741,3.877528
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,7.000000,185.000000,0.000000,0.014286,0.000000,0.000000,2.000000,2.000000,1.000000,2.000000
50%,1.000000,8.000000,0.000000,0.000000,18.000000,600.750000,0.003165,0.025181,0.000000,0.000000,2.000000,2.000000,3.000000,2.000000
75%,4.000000,93.500000,0.000000,0.000000,38.000000,1470.416667,0.016901,0.050000,0.000000,0.000000,3.000000,2.000000,4.000000,4.000000
max,27.000000,3398.750000,24.000000,2549.375000,705.000000,63973.522230,0.200000,0.200000,361.763742,1.000000,8.000000,12.000000,9.000000,20.000000